{% load static %}
<!doctype html>
<!--% load static % is required to load the static files-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <!-- <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/> -->

    <!-- Bootstrap CSS -->
    <!-- Get the bootstrap version 5 libraries -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Custom css -->
    <!-- This is how we connect our static style.css with our template-->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- dropzone
    <link rel="stylesheet" href="{% static 'dropzone.css' %}">
    <script src="{% static 'dropzone.js' %}" defer></script> -->

    <!-- Custom js -->
    <!--This links the main html page with the profiles main.js page-->
    <script src="{% static 'functions.js' %}" defer></script>
    {% block scripts %}
    {% endblock scripts %}

    <!--Each template that inherits from base html will have this title
    but each page will have a different value for block title -->
    <title>read posts | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <!-- {% include "navbar.html" %} -->

    <!-- container is a bootstrap class that adds spacing on both sides-->
    <div class="container mt-3">
        <!--adds in the content depending on the page here-->
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </body>
</html>